.row{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.first, .second, .third{
    margin:20px ;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}
h3{
    text-align: center;
}









